.menu
    .container
        .mega-menu
            .menu-drop-1
                a Aerospace
                .menu-drop-2
                    ul.drop-2
                        li.active
                            a(href="") Capabilities
                            ul.drop3
                                li
                                    a(href="") Commercial MRO
                                li
                                    a(href="") Military MRO
                                li
                                    a(href="") Aircraft Interiors
                                li
                                    a(href="") Freighter Conversions
                                li
                                    a(href="") Pilot Training
                                li
                                    a(href="") Unmanned Aerial Solutions
                                li
                                    a(href="") Smart MRO
                                li
                                    a(href="") Aerostructures Systems
                        li
                            a(href="") Companies & Affiliates
                            ul.drop3
                                li
                                    a(href="") Aircraft Maintenance & Modification
                                li
                                    a(href="") Component Total Support
                                li
                                    a(href="") Engine Total Support
                                li
                                    a(href="") Aviation & Training Services
                                li
                                    a(href="") Aerospace Engineering & Manufacturing
                        li
                            a(href="") Newsroom
                            ul.drop3
                                li
                                    a(href="") News Releases
                                li
                                    a(href="") Latest Events
                                li
                                    a(href="") Resources
                        li
                            a(href="") Contact Us
                            ul.drop3
            .menu-drop-1
                a(href="") Electronics
                .menu-drop-2.menu-drop2-height
                    ul.drop-2
                        li.active
                            a(href="") Capabilities
                            ul.drop3
                                li
                                    a(href="") Advanced Electronics and Infocomm Technologies
                                li
                                    a(href="") Intelligent Transportation and Telematics
                                li
                                    a(href="") Satellite Communications and Remote Sensing Satellites
                                li
                                    a(href="") Sensors and Electro-Optics
                                li
                                    a(href="") Modelling, Simulation and Edutainment
                                li
                                    a(href="") Defence and Homeland Security
                                li
                                    a(href="") Cybersecurity
                        li
                            a(href="") Companies & Affiliates
                            ul.drop3
                                li
                                    a(href="") ST Electronics (Info-Comm Systems)
                                li
                                    a(href="") ST Electronics (Info-Software Systems)
                                li
                                    a(href="") ST Electronics (Satcom & Sensor Systems)
                                li
                                    a(href="") ST Electronics (Training & Simulation Systems)
                                li
                                    a(href="") ST Electronics - Large Scale Systems Group (LSG) 
                                li
                                    a(href="") ST Electronics (Info-Security)
                        li
                            a(href="") Newsroom
                            ul.drop3
                                li
                                    a(href="") News Releases
                                li
                                    a(href="") Latest Events
                                li
                                    a(href="") Resources
                        li
                            a(href="") Contact Us
                            ul.drop3
                        li
                            a(href="") RFQs and Tender Listings
                            ul.drop3
            .menu-drop-1
                a(href="") Land Systems
                .menu-drop-2.menu-drop2-height
                    ul.drop-2
                        li.active
                            a(href="") Capabilities
                            ul.drop3
                                li
                                    a(href="") Mobility Solutions for Defence and Security
                                li
                                    a(href="") Weapons and Ammunition
                                li
                                    a(href="") Soldier Systems
                                li
                                    a(href="") Specialty Vehicles and Automotive Services
                                li
                                    a(href="") Robotics and Autonomous Systems
                                li
                                    a(href="") Testing and Inspection
                                li
                                    a(href="") MRO
                                li
                                    a(href="") Training
                                li
                                    a(href="") Engineering Design & Manufacturing
                        li
                            a(href="") Companies & Affiliates
                            ul.drop3
                                li
                                    a(href="") Advanced Material Engineering
                                li
                                    a(href="") Advanced Pyrotechnic Materials Private Limited
                                li
                                    a(href="") Aethon, Inc.
                                li
                                    a(href="") Kinetics Automotive & Specialty Equipment Co., Ltd
                                li
                                    a(href="") Kinetics Drive Solutions Inc.
                                li
                                    a(href="") Kinetics Systems (Shanghai) Co. Ltd
                                li
                                    a(href="") LeeBoy Brazil Equipamentos de Construção Ltda.
                                li
                                    a(href="") SDDA Pte Ltd
                                li
                                    a(href="") Singapore Test Services Private Limited
                                li
                                    a(href="") SMART Systems Pte Ltd
                                li
                                    a(href="") STA Inspection Pte Ltd
                                li
                                    a(href="") ST Synthesis Pte Ltd
                                li
                                    a(href="") Technicae Projetos e Servicos Automotivos Ltda
                        li
                            a(href="") Newsroom
                            ul.drop3
                                li
                                    a(href="") News Releases
                                li
                                    a(href="") Latest Events
                                li
                                    a(href="") Resources
                        li
                            a(href="") Contact Us
                            ul.drop3
            .menu-drop-1
                a(href="") Marine
                .menu-drop-2
                    ul.drop-2
                        li.active
                            a(href="") Capabilities
                            ul.drop3
                                li
                                    a(href="") Shipbuilding
                                li
                                    a(href="") Repair and Conversion
                                li
                                    a(href="") Total Naval Solutions
                                li
                                    a(href="") Engineering Services
                                li
                                    a(href="") Environmental Engineering 
                        li
                            a(href="") Companies & Affiliates
                            ul.drop3
                                li
                                    a(href="") STSE Engineering
                                li
                                    a(href="") VT Halter Marine
                                li
                                    a(href="") VT Marine
                        li
                            a(href="") Newsroom
                            ul.drop3
                                li
                                    a(href="") News Releases
                                li
                                    a(href="") Latest Events
                                li
                                    a(href="") Resources
                        li
                            a(href="") Contact Us
                            ul.drop3
            .btn-search
                span