.header
    .top
        .container
            .top-side
                .side-status.left-side
                    span S63
                    span S$3.890
                    span 0.010
                .font-size.left-side
                    span A
                    span A
                .contact-us.left-side
                    a(href="") Contact Us
                .social-network.left-side
                    a(href="")
                        <i class="fab fa-facebook-f"></i>
                    a(href="")
                        <i class="fab fa-linkedin-in"></i>
                    a(href="")
                        <i class="fab fa-youtube"></i>
                    a(href="")
                        <i class="fab fa-instagram"></i>
                .call-header.left-side
                    a(href="")
                        <i class="fas fa-phone"></i>
                .search-header.left-side
                    a(href="")
                        <i class="fas fa-search"></i>
    .bottom
       .container
            .logo
                img(src="https://www.stengg.com/media/1070/logo.jpg", alt="")
            .list-item
                ul
                    li
                        a(href="") About Us
                    li
                        a(href="") Investor Relations
                    li
                        a(href="") Sustainability
                    li
                        a(href="") Innovation
                    li
                        a(href="") Newsroom
                    li
                        a(href="") Careers
            .nav-mobile-icon
                span#span1
                span#span2
                span#span3
    .nav-mobile
        .btn-next
            <i class="fas fa-arrow-right"></i>
        ul
            li.first
                a(href="") HOME
            li
                a(href="") About Us
                .next
                .menu-mobile-lv2
                    .go-back
                        i.fas.fa-arrow-left
                        a(href="") About Us
                    ul
                        li
                            a(href="") Our Business
                        li
                            a(href="") Our Vision and Values
                        li
                            a(href="") Global Presence
                        li
                            a(href="") Board of Directors
                        li
                            a(href="") Leadership Team
                        li
                            a(href="") Corporate Governance
                        li
                            a(href="") Code of Business Conduct and Ethics
                        li
                            a(href="") Awards
                        li
                            a(href="") Milestones
                        li
                            a(href="") 50th Anniversary
                        li
                            a(href="") Organisation Structure
                        li
                            a(href="") Singapore Airshow 2018
                        li
                            a(href="") Brand Harmonisation
            li
                a(href="") Investor Relations
                .next
                .menu-mobile-lv2
                    .go-back
                        i.fas.fa-arrow-left
                        a(href="") Investor Relations
                    ul
                        li
                            a(href="") Financial Reports and Webcasts
                        li
                            a(href="") Financial Highlights
                        li
                            a(href="") Share Information
                        li
                            a(href="") Dividend Information
                        li
                            a(href="") Analyst Coverage
                        li
                            a(href="") IR Calendar
                        li
                            a(href="") Annual Reports
                        li
                            a(href="") AGM Information
                        li
                            a(href="") FAGS
            li
                a(href="") Sustainability
                .next
                .menu-mobile-lv2
                    .go-back
                        i.fas.fa-arrow-left
                        a(href="") Sustainability
                    ul
                        li
                            a(href="") Our Commitment
                        li
                            a(href="") Our Principles
                        li
                            a(href="") Our Customers
                        li
                            a(href="") Our People
                        li
                            a(href="") Our Community
                        li
                            a(href="") Our Performance
            li
                a(href="") Innovation
                .next
                .menu-mobile-lv2
                    .go-back
                        i.fas.fa-arrow-left
                        a(href="") Innovation
                    ul
                        li
                            a(href="") Advanced Engineering Centre
                        li
                            a(href="") Corporate Venture Capital
                        li
                            a(href="") Technology Partnerships
                        li
                            a(href="") Smart Car Park Platform Addresses Parking Challenges
                        li
                            a(href="") DroNet: Drone Network Systems 
                        li
                            a(href="") Driving into the Future with Autonomous Buses
                        li
                            a(href="") World’s First Next-Generation Smart Bus Stop 
                        li
                            a(href="") Supply Chain Innovation with Smart Logistics
                        li
                            a(href="") Innovating at Innosparks: Folo Fleet
                        li
                            a(href="") ASEAN Energy Award Winner: Airbitat Smart Cooler
                        li
                            a(href="") NUS and ST Engineering Partner to Develop Future-Technology Capabilities 
                        li
                            a(href="") Solving the World’s Problems with Data Science
                        li
                            a(href="") Smarter Ships of the Future
                        li
                            a(href="") The People Behind Unmanned Technologies
                        li
                            a(href="") Open Innovation Lab
            li
                a(href="") Newsroom
                .next
                .menu-mobile-lv2
                    .go-back
                        i.fas.fa-arrow-left
                        a(href="") Newsroom
                    ul
                        li
                            a(href="") News Releases
                        li
                            a(href="") Events
                        li
                            a(href="") Resources
            li
                a(href="") Careers
                .next
                .menu-mobile-lv2
                    .go-back
                        i.fas.fa-arrow-left
                        a(href="") Careers
                    ul
                        li
                            a(href="") Job Offer Scams
                        li
                            a(href="") Our Pride & Inspiration
                        li
                            a(href="") Scholarships & Internships
            li.mega-menu-mobile
                a(href="") Aerospace
                .next
                .menu-mobile-lv2
                    .go-back
                        i.fas.fa-arrow-left
                        a(href="") Aerospace
                    ul
                        li
                            a(href="") Capabilities
                        li
                            a(href="") Companies & Affiliates
                        li
                            a(href="") Newsroom
                        li
                            a(href="") Contact Us
            li.mega-menu-mobile
                a(href="") Electronics
                .next
                .menu-mobile-lv2
                    .go-back
                        i.fas.fa-arrow-left
                        a(href="") Electronics
                    ul
                        li
                            a(href="") Capabilities
                        li
                            a(href="") Companies & Affiliates
                        li
                            a(href="") Newsroom
                        li
                            a(href="") Contact Us
                        li
                            a(href="") FAGS
            li.mega-menu-mobile
                a(href="") Land Systems
                .next
                .menu-mobile-lv2
                    .go-back
                        i.fas.fa-arrow-left
                        a(href="") Land Systems
                    ul
                        li
                            a(href="") Capabilities
                        li
                            a(href="") Companies & Affiliates
                        li
                            a(href="") Newsroom
                        li
                            a(href="") Contact Us
            li.mega-menu-mobile
                a(href="") Marine
                .next
                .menu-mobile-lv2
                    .go-back
                        i.fas.fa-arrow-left
                        a(href="") Marine
                    ul
                        li
                            a(href="") Capabilities
                        li
                            a(href="") Companies & Affiliates
                        li
                            a(href="") Newsroom
                        li
                            a(href="") Contact Us
link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")